Pods/*
Podfile.lock

DemoAppForCloudFaker.xcworkspace/xcuserdata/tylerbarth.xcuserdatad/UserInterfaceState.xcuserstate

DemoAppForCloudFaker.xcworkspace/xcuserdata/tylerbarth.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
